@import './variables';

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 62.5%;
  margin: 0 auto;

  .tabList{
    height: 60px;
    display: flex;
    align-items: center;

    .tab{
      margin-left: 10px;
      -webkit-appearance: none;
      background-color: transparent;
      border: none;
      font-weight: $extraBold;
      color: $tab-gray;
      outline: none;

      &[aria-selected="true"]{
        color: $cyan;
      }
      
    }

    .divider {
      margin-left: 10px;
    }
  }
  .linkMenu{
    display: flex;
    align-items: center;
    height: 60px;

    .link{
      text-decoration: none;
      margin-left: 20px;
      list-style: none;
      font-size: $f16;
      font-weight: $extraBold;
      color: $menu-gray;

      &:first-of-type{
        margin-left: 0;
      }
    }
  }

  .Shelfs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    .Product{
      width: 20%;
      padding: 10px;
      background-color: #F8F8F8;
      margin: 0 10px;

      &:nth-of-type(4n+1){
        margin-left: 0;
      }

      &:nth-of-type(4n+4){
        margin-right: 0;
      }
      &:nth-of-type(n+5){
        margin-top: 20px;
      }

      img {
        background-color: $white;
      }
    }
  }
}


// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }